<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit | To-Do List</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="to-do-app">
            <h2>Edit Task <img src="/static/images/icon.png" alt=""></h2>
            <form class="row" method="post" action="/edit_task">
                <input type="text" name="task" value="{{data[1]}}" id="input-box" placeholder="Edit Task" required>
                <input type="text" name="id" value="{{data[0]}}" hidden>
                <button type="submit">Edit</button>
            </form>
        </div>
    </div>
</body>
</html>